# Compiler files
/contracts/**/cache/
/contracts/**/out/
/contracts/**/zkout/

# Ignores development broadcast logs
/contracts/**/!/broadcast
/contracts/**/broadcast/*/137/
/contracts/**/broadcast/*/80002/
/contracts/**/broadcast/**/dry-run/
/contracts/**/install.log

# Docs
/contracts/**/docs/

# Dotenv file
/contracts/**/.env

# System backups
/backup
